fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt
pyjwt
python-multipart
email-validator
python-dotenv
alembic
cloudinary
faker
sentence-transformers
numpy
psycopg2-binary