@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 12%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;
    --primary: 42 98% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 42%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 42%;
    --muted-foreground: 0 0% 100%;
    --accent: 42 98% 52%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 42 98% 52%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --primary: 42 98% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 63%;
    --secondary-foreground: 0 0% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 63%;
    --muted-foreground: 0 0% 10%;
    --accent: 42 98% 52%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 42 98% 52%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  body:not(.has-dashboard-sidebar) .dashboard-sidebar {
    display: none;
  }

  a {
    font-weight: 500;
    color: hsl(var(--primary));
    text-decoration: inherit;
  }

  a:hover {
    color: hsl(var(--primary) / 0.8);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: hsl(var(--primary));  
    /* background-color: #4F6F52;   */


    color: hsl(var(--primary-foreground));
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: hsl(var(--primary));
    opacity: 0.9;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
